@charset "utf-8";

/*CSS reset*/

body,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
select,
textarea,
form {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: "微软雅黑", arial, simsun, Tahoma, sans-serif; */
    font-family: -apple-system, /* English First */
    "Helvetica Neue", "Arial", /* Chinese Fallback */
    "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}


/*清浮动*/

.clearfix {
    overflow: auto;
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}